//IMPORTAR EL CSS QUE SE ME HA DADO 
@import "assets/scss/4-generic/_normalize";
@import "assets/scss/4-generic/_reset";
/*********************************************/

//IMPORTAR EL CSS QUE SE ME HA DADO 
@import "assets/scss/1-settings/_variables";
@import "assets/scss/3-tools/breakpoints";
@import "assets/scss/3-tools/notouch-hover";
@import "assets/scss/3-tools/fluid-type";
@import "assets/scss/3-tools/nth-child";

// PONER LA FUENTE EN LA WEB
@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: 'Lato', sans-serif;
}

//HACER EL CAJON DEL CORREO ELECTRONICO MÁS AMPLIO QUE ERA BASTANTE PEQUEÑO
.mat-mdc-text-field-wrapper {
    height: 70px!important;
    flex: auto;
}

//PARA QUE EL TEXTO APAREZCA APROXIMADAMENTE EN EL MEDIO DEL CAJON
.mdc-text-field__input {
    height: 68px !important;
}
